<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <title>BMI Calculator</title>
    </head>
    <body>
        <h1
            style="
                margin-top: 50px;
                margin-bottom: 10px;
                text-align: center;
                text-decoration: underline;
            "
        >
            BODY MASS INDEX CALCULATOR
        </h1>
        <div class="container">
            <form method="POST" action="/result">
                <div class="form-group">
                    <label for="height">HEIGHT IN METER</label>
                    <input
                        type="text"
                        class="form-control"
                        id="height"
                        name="height"
                        placeholder="Enter height"
                    />
                </div>
                <div class="form-group">
                    <label for="Weight">WEIGHT IN KILO GRAMS</label>
                    <input
                        type="text"
                        class="form-control"
                        id="weight"
                        name="weight"
                        placeholder="Enter Weight"
                    />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div style="margin-top: 50px; text-align: center">
            <h3 style="font-weight: bold">BMI :- {{BMI}}</h3>
        </div>
        <div class="container" style="display: flex; justify-content: flex-end">
            <button type="button" class="btn btn-sm btn-dark" onclick="window.location.href='/';">
                NEW
            </button>
        </div>

        <div class="container" style="margin-top: 80px; margin-bottom: 20px">
            <p style="text-align: center">
                Body Mass Index (BMI) is a person’s weight in kilograms divided by the square of
                height in meters. A high BMI can indicate high body fatness. BMI screens for weight
                categories that may lead to health problems, but it does not diagnose the body
                fatness or health of an individual.
            </p>
            <h3
                style="
                    margin-top: 50px;
                    margin-bottom: 10px;
                    text-align: center;
                    text-decoration: underline;
                "
            >
                BODY MASS INDEX REFERENCE TABLE
            </h3>
            <table class="table">
                <thead>
                    <tr style="text-decoration: underline">
                        <th scope="col">#</th>
                        <th scope="col">Category</th>
                        <th scope="col">BMI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <th>Underweight</th>
                        <th>&lt18.5</th>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <th>Normal Weight</th>
                        <th>&lt18.5 - 24.9</th>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <th>Class 1 Obesity: Overweight</th>
                        <th>&lt25 - 29.9</th>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <th>Class 2 Obesity</th>
                        <th>&lt30 - 39.9</th>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <th>Class 3 Obesity</th>
                        <th>&gt40</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
